<!DOCTYPE html>
<html lang="en">
  <head>
    <title>WEBSOCKETZ!</title>
    <link href="/static/bootstrap/css/bootstrap.css" type="text/css" rel="stylesheet"/>
    <link href="/static/css/main.css" type="text/css" rel="stylesheet"/>
  </head>
  <body>
    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand">Twitter Map</a>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="alert alert-error connection-status">You are not connected.</div>
        </div>
      </div>

      <div class="row">
        <div class="span12">
          <img id="map" src="/static/images/us_map.png" width="731" height="390" style="display: block; margin: 20px auto; height: 390px; width: 731px;"/>
        </div>
      </div>

    <script src="/static/js/jquery.min.js" type="text/javascript"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/static/js/websocket.js" type="text/javascript"></script>
  </body>
</html>
