argparse==1.2.1
gevent==0.13.8
gevent-websocket==0.3.6
geventhttpclient==1.0a
greenlet==0.4.0
-e git://github.com/joshmarshall/wsgi_helpers.git@cefc9c0bb84549251158f4155103af3a93c7e2b5#egg=wsgi_helpers-dev
wsgiref==0.1.2
