<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Slide Controller</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1">
  </head>

  <body>
    <div>
      <input id="seek" type="range" value="0" min="-10" max="10"/>
    </div>
    <button id="previous">&laquo;</button>
    <button id="next">&raquo;</button>

    <hr/>
    <textarea cols=30 rows=5 id="log"></textarea>
    <script type="text/javascript" src="/static/js/controller.js"></script>
  </body>
</html>
